@font-face {  
  font-family: "OswaldNew-Regular";  
  /* src: url( OswaldNew-Regular.ttf  );  */  /* IE */
  src: local(" real FontName "), url( OswaldNew-Regular.ttf ) format("truetype"); /* non-IE */  
}  

p.banner_style { 
		font-family: "OswaldNew-Regular", verdana, helvetica, sans-serif;
		font-size: 20px; 
/*		font-size: 20pt; */
		color : #B5192D;
		text-align: center;
		border-style: solid;
		border-color: #2B3266;
		border-width: 1px;
		height: 60px;
		width: 415px;
		position: fixed;
  		top: 25%;
  		left: 25%;
  		background: white;
}  

body {
	background: #000 url(navy_blue.png);
	color: #FFF;
}
